body {
		padding: 0;
		box-sizing: border-box;
		font-family: sans-serif;
		background: #cecece;
	}
	li {
		list-style-type: none;
	}
	h2, h3{
		text-align: center;
	}
	h2{
		margin: 50px;
		background: #6f95a8;
		padding: 20px;
	}
	h1{
		background: #58e482;
		width: 150px;
		height: 40px;
		text-align: center;
		border-radius: 50px;
		border-bottom-left-radius: 2%;
		border: 3px solid #034f0c;
	} 
	h3{
		padding:10px;   
	}
	p {
		padding:10px;
		word-spacing: 5px;
		text-align: justify;
		line-height: 1.15;
	}
	h2:hover {
		background-color:#58e482;
		border-radius: 50px;
	}
	li img{
		width: 70%;
		margin: 30px;
	}
	
	/*Styling grid container using floats*/
		
	#grid-floats{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 20px;
	}
	
	/*styling child elements of grid-floats container*/

	#grid-floats .grid-item{
		background:#edafe2;  
		box-shadow: 10px 10px 5px #3f3582;
	}
	
	/* desktop view */
	@media only screen and (min-width:769px) {
	    #grid-floats li:nth-child(1) {
	        grid-column: span 2;
	    }
	}
	/* tablet view */

	@media only screen and (max-width: 768px) {
	    #grid-floats {
			grid-template-columns: 1fr 1fr 1fr;
		}
	    #grid-floats li:nth-child(1) {
			background: #6eef79;
	    }
	    #grid-floats li:nth-child(2) {
			background: #6eef79;    
	        grid-column: 2 / 4; 
	    }
	}
	/*media queries for Smartphones*/

	@media only screen and (min-width: 320px) and (max-width: 480px){
	    #grid-floats {
			grid-template-columns: 1fr 1fr;
		}
	    #grid-floats li:nth-child(1){
			grid-column: 1 / span 2;
			background: #f46b69;
		}
	    #grid-floats li:nth-child(2){
			background:#edafe2;
	        grid-column: 1 / 1;
	    }    
	}	  
	/* Flexbox container / parent*/
		
	#grid-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	/*styling child elements of flexbox container*/

	#grid-flex li{
		max-width: 25%;
		flex-grow: 1;	
		background: #7b95f2;
		box-shadow: 10px 10px 5px #3f3582;
		transform: scale(0.9); /*for spacing the elements since the max-width for each element is 25%*/
	}
	    
	/* desktop view */
	@media only screen and (min-width:769px) {
	    #grid-flex li:nth-child(1) {
	        max-width: 50%;
	    }
	}
	/* tablet view */
	@media only screen and (max-width: 768px) {
		#grid-flex li {
			max-width: 33.3%;
		}
	    #grid-flex li:nth-child(1){
			max-width: 50%;
			background: #6eef79;
	    }
	    #grid-flex li:nth-child(2){
			max-width: 50%;
			background: #6eef79;
	    }
	}
	/* mobile view */
	@media only screen and (min-width: 320px) and (max-width: 480px){
	    #grid-flex li {
			max-width: 50%;
		} 
	    #grid-flex li:nth-child(1) {
			max-width: 100%;
			background: #f46b69;
		}
		#grid-flex li:nth-child(2){
			background: #7b95f2;
		}
	}
