body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
}
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}
ul{
  margin:0;
  padding:0;
}
h2, h3{
    color: #01689b;
}
/*header*/
.top{
  height: 100px;
}
.top img{
  padding-left:50%;
}
header{
  background:#01689b;
  color:#ffffff;
  padding-top:30px;
  min-height:60px;
}
header a{
  color:#ffffff;
  text-decoration:none;
  font-size:16px;
}
header li{
  float:left;
  display:inline;
  padding: 0px 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}
header a:hover{
  text-decoration: underline;
}
#showcase{
  background-image: url(een4.jpg); 
  height: 350px;
  background-position: center center;
  background-size: cover;
}
form {
  float:right;
  margin-top: 30px;
  margin-right: 80px;
}
input{
    padding: 10px;
    font-size: inherit;
}   
.button_1{
  height:38px;
  background:black;
  border:1px solid white;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}
.first_boxes_cont{
  width: 100%;
  height: auto;
  /*flexbox style*/
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-flow: wrap;
}
.boxx{
  width: 20%;
  height: auto;
  margin: 20px; 
  box-sizing: border-box;
}
#first_boxes{
  padding: 30px;
  background-color: #f3f3f3;
}
.first_boxes_container{
  display: flex;
  padding: 20px;
}
.box a p{
    color:black;
    line-height: 1.5;
}
.box a{
    text-decoration: none;
}
#second_boxes{
  margin-top:20px;
}
#second_boxes .box{
  float:left;
  width:30%;
  padding:10px;
}
#second_boxes .box img{
  width:100%;
}   
footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color: #01689b;
  text-align: center;
}
.bottom_navigation{
    text-align: center;
    list-style: none;
    padding: 20px 0 20px 0;
}
.bottom_navigation li{
    display: inline-block;
    padding-right: 50px;
    border: 1px solid #b2d7ee;
    font-size: .95em;
    color: #007bc7;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 0;
}
.bottom_navigation li a{
    text-decoration: none;
}

/* Media Queries */
@media(max-width: 768px){
  .top img{
    width: 10%;
  }
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #second_boxes .box{
    float:none;
    text-align:center;
    width:100%;
  }
  header{
    padding-bottom:20px;
  }
.button_1, .quote button{
    display:block;
    width:100%;
  }
  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
  .boxx{
    width: 40%;
  }
}
@media(max-width: 450px){
  .boxx{
    width: 100%;
  }
}
